name: "Validate devcontainer-feature.json files"
on:
  workflow_dispatch:
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2

      - name: "Validate devcontainer-feature.json files"
        uses: devcontainers/action@v1.4.3
        with:
          validate-only: "true"
          base-path-to-features: "./src"